:host {
  display: block;
}

.loading-bar {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  box-sizing: content-box;
}

.loading-bar-element {
  width: 0;
  height: 100%;
  background-color: lightgreen;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
